<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draft a mail</title>
</head>
<body>
    <center>
        <h2>Draft a Mail</h2>

        <form action="{{url_for('send_mail')}}" method="POST">
            <input type="text" name="company" placeholder="Company Name" required>
            <br>    
            <input type="text" name="message" placeholder="Message" required>        
            <button type="submit">Submit</button>
        </form>

        <form action="" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.file()}}
            <br>
            {{form.submit()}}
        </form>
    </center>
    
    
</body>
</html>